@font-face {
    font-family:"bebas";
    src:url("../files/BebasNeue-Regular.sfd") format("eot"),url("../files/BebasNeue-Regular.woff") format("woff"),url("../files/BebasNeue-Regular.ttf") format("truetype"),url("../files/BebasNeue-Regular.svg#BebasNeue-Regular") format("svg");
    font-weight:normal;
    font-style:normal;
}

body{
    background: url("../images/background9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#header_logo{
    height: 100px;
    width: 160px;
}

#title_header {
    background-color: #0300b8;
    color: white;
    text-align: center;
    margin: 15px 10px 10px 10px;
    padding: 1px 10px 10px 10px;
    border-radius: 10px 40px 10px 40px;
    box-shadow: 0px 1px 2px 1px rgb(4, 84, 131);
    position: relative;
    z-index: 5;
}

#title_header .background{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/background-header.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 40px 10px 40px;
    opacity: .4;
    width: 100%;
    height: 100%;

}

.header_options{
    border: none;
    background: none;
    padding: 3px 30px 3px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline:none; 
    text-decoration:none;
    border-radius: 10px;  
    color: white;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    text-shadow: 0px 2px 2px #00002c;
}

  
.header_options::before{
    content: "";
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
    background: #0824a1;
    z-index: -1;
    transition: 0.5s;
    border-radius: 5px;
}
  
.header_options::before{
    top: 0;
}
  
.header_options:hover::before{
    width: 100%;
}

/* -------------------- */

#header_nav li {
    display: inline-block;
}

#header_nav ul li {
    display: block;
    position: relative;
    float: left;
}

#header_nav li ul {
    display: none;
}
    
#header_nav ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    background: #0a35f6;
    white-space: nowrap;
}

#option_1, #option_3, #option_9{
    border-radius: 5px 5px 0px 0px;
}

#option_6{
    border-radius: 5px;
}

#option_2, #option_5, #option_8, #option_12{
    border-radius: 0px 0px 5px 5px;
}

#header_nav li:hover ul {
    display: block;
    position: absolute;
}

#header_nav li:hover li {
    float: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    z-index: 10;
}


#header_nav li:hover li a:hover {
    background: #091294;
}


#shop_cart{
    background-color: white;
    color: #0300b8;
    height: 70px;
    width: 130px;
    border-radius: 10px;
    font-family: bebas;
    font-size: 17px;
    float: right;
    margin:10px 40px 15px 15px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#clear_cart{
    color: white;
    background-color: #091294;
    padding: 2px 5px 1px 5px;
    border-radius: 5px;
    cursor: pointer;
}

#cart_address{
    text-decoration: none;
}

#cart_address:visited{
    color: #0300b8;
}

#slogan{
    background-color: #0a35f6;
    padding: 5px 10px 10px 10px;
    margin-left: 50px;
    margin-top: -9px;
    margin-bottom: 15px;
    height: 14px;
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    font-family: bebas;
    font-size: 20px;
    font-weight: 500;
    color: white;
    z-index: 20;
    box-shadow: 0px 1px 2px 1px rgb(20, 4, 170);

}

section{
    background-color: rgb(6, 63, 168);
    height: 1000px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgb(11, 57, 155);

}

iframe{
    height: 100%;
    width: 100%;
    border: 0px;
    margin: auto;
}

footer{
    height: 100px;
    width: auto;
    background-color: rgb(6, 63, 168);
    margin: 10px 5px 10px 5px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 1px rgb(11, 57, 155);
}

footer table{
    font-family: bebas;
    padding-top: 15px;
    font-size: 20px;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 25px;
    margin-left: 30px;
    width: 100%;
    display: flex;
    justify-content: left;
}

footer a:visited {
    color: white;
}

#credits{
    position: absolute;
    font-family: bebas;
    font-size: 15px;
    font-weight: 500;
    margin-top: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
}